/* utility */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-body {
  margin-top: 1em;
}

iframe {
  width: 100%;
}

.card {
  margin-bottom: 1em;
}

#home-sidebar {
  padding-bottom: 2em;
}

#booking-btn, #small-facebook {
  margin-bottom: 1em;
}


/* Brand */

.navbar {
  background: #2e672d;
}

.navbar .navbar-nav .nav-item > .nav-link a {
  color: white;
}

a {
  color: #2e662d;
  font-weight: bold;
}

/* Calendar */

h3.key-list-title, dl.key-list {
  margin-bottom: 0px;
}
dl.key-list {
  align-items: center;
}

.key-list dd, .key-list dt {
  display: inline;
}

.key-list dd {
  margin-right: 2em;
}

.key-square {
  padding: 6px;
  margin: 0px 10px;
  display: inline-block;
    border-radius: 50%;
}

/* Contact Card */

.contact-img {
  width: 100px;
  height: 100px;
}

/* maps */

.maps-iframe {
  height: 500px;
  border: none;
}

/* facebook */

.facebook-frame {
  border: none;
  width: 100%;
  height: 500px;
}

@media (max-width: 576px) { 

  .big-facebook {
    display: none;
  }

  .small-facebook {
    display: inherit;
  }

}

@media (min-width: 576px) { 

  .small-facebook {
    display: none;
  }

  .big-facebook {
    display: inherit;
  }

}